@import "./variables.scss";

body {
  margin: 0;
}

main {
  color: $foreground-color;
  background-color: $background-color;

  font-size: $base-font-size;
  font-weight: $font-weigth;
}

main.search-page {
  margin-inline: 3rem;
}

@media (max-width: $mobile-breakpoint) {
  main.search-page {
    margin-inline: 1rem;
  }
}
