$background-color: #ffffff;
$foreground-color: #000000;
$accent-color: #ec1d24;

$base-font-size: 1rem;
$small-font-size: 0.75rem;
$font-weigth: 400;

$mobile-breakpoint: 720px;
$tablet-breakpoint: 1080px;
