@import "../../../../app/variables.scss";

$corner-cut-size: 12px;

.character-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;

  list-style-type: none;

  > a {
    display: contents;

    > img {
      aspect-ratio: 1;
      border-bottom: 5px solid $accent-color;
      background-color: $foreground-color;
    }
  }

  > button {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: $foreground-color;
    color: $background-color;
    border: none;

    padding: 1rem 1rem 1.5rem 1rem;

    span {
      display: inline-block;

      padding-right: 0.75rem;

      font-size: 0.875rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-transform: uppercase;

      z-index: 1;
    }

    img {
      z-index: 1;
    }

    // Top down sliding animation uses this after to cover the background
    &:after {
      content: "";

      position: absolute;
      left: 0;
      right: 0;
      top: -100%;
      bottom: 100%;

      background: $accent-color;
      z-index: 0;
      display: block;

      transition: all 0.35s;
    }
  }

  // Corner cutting
  &:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;

    width: $corner-cut-size;
    height: $corner-cut-size;

    background-color: $background-color;

    margin: calc(-1 * ($corner-cut-size / 2));

    transform: rotate(45deg);
  }
}

.character-list-item:hover > button {
  > img {
    -webkit-filter: brightness(100);
    filter: brightness(100);
  }

  &:after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
  }
}
